header{
	width: 100%;
	height: 180px;
	position: fixed;
	background-color: #FFF;
	background-image: url(../img/header.jpg);
}
nav{
	
}
#navPrincipal{
	position: fixed;
	top: 96px;
	margin-top: 180px;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	transition: all 0.5s ease 0s;
	white-space: nowrap;
}
nav.navNRG{
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	transition: all 0.5s ease 0s;
	white-space: nowrap;
}
nav a{
	display: inline-block;
	color: #FFF;
	background-color: #A9A9A9;
	font-size: 40px;
	font-weight: bold;
	box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	text-decoration: none;
	width: 136px;
	height: 80px;
	text-transform: uppercase;
	white-space: nowrap;
	padding-top:0.3em;
}
nav a i{
	display: block;
	line-height: 2;
	color: #696969;
}
nav a span{
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 0;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	margin-top: 1em;
}

section{
	float: left;
	margin: 0 .5%;
	width: 30%;
	height:60%;
}

li.cast{
	 list-style-type: none;
}

div.version{
	display:none;
}

div.visor{
	display:block;
	position:relative;
	border:1px solid;
	height:100%;
	width:100%;
	overflow:scroll;	
	white-space: nowrap;
}

footer{
	position: absolute;
	width: 90%;
	bottom: 2em; 
	background-color: lightgrey;
}

#btnAnadir{
	float:left;
}

.btnCerrar{
	float:right;
}

h1{
	padding-top: 210px;
}

a.buttonUp {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;       
}

a.buttonDown {
    background: #bbb;
    cursor: pointer;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}

#divFondo{
	display:none;
	background-color: rgba(0,0,0,0.8);
	height:200%;
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

#iconoBuscar, #iconoBorrar{
	cursor:pointer;
	margin-left: 0.4em;
}

#tituloResultadosBusqueda{
	display:none;
}

#tablaBusquedaWrapper{
	display:none;
	overflow-y: auto;
	max-height: 500px;
}

#divBusqueda{
	display: none;
	position:relative;
	background-color:white;
	width: 80%;
	min-height:20%;
	max-height:80%;
	margin: auto;
	margin-top: 50px;
	padding:3em;
	border-radius: 5px;
}

#divAnalisis, #divImagenes{
	display: none;
	position:relative;
	opacity:1;
	background-color:white;
	width: 80%;
	min-height:20%;
	max-height:80%;
	margin: auto;
	margin-top: 50px;
	padding:3em;
	border-radius: 5px;
}

.pIconoCerrar{
	position:absolute;
	top: 0;
	left: 97%;
}

span.imagenes{
	display:none;
}

#iconoResultadosCerrar, #iconoAnalisisCerrar, #iconoImagenesCerrar{
	cursor:pointer;
}


#tablaBusqueda{
	margin-bottom: 20px;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	font-family: serif;
	color: #333;
}

#tablaBusqueda tr:hover{
	cursor: pointer;
}

#tablaBusqueda tr:hover{
	background-color:#aaa;
}
#tablaBusqueda td{
	border-top: 2px solid #aaa;
	padding: 0.5em;
	line-height:1.4em;
	margin-right: 1em;
}

#tablaBusqueda td:nth-child(1){
	font-weight: bold;
	min-width: 15%;
}

#tablaBusqueda td:nth-child(1){
	min-width: 30%;
}

#tablaBusqueda td:nth-child(1){
	min-width: 30%;
}

.palabraBuscada{
	background-color: pink;
}

.diferencia .fa-tag, .nota .fa-comment, .nota .fa-question-circle, .nota .fa-camera-retro, .nota .fa-video-camera{
	color: #888888;
}

.prueba{
	border: 1px solid red;
	width: 100%;
}

.nota{
	display:none;
	width:5px;
	cursor:pointer;
}

.notaActiva{
	display:inline;
}
.tooltipster-content{
	max-width: 300px;
}

.tooltipster-content img{
	width: 150px;
	float:left;
	margin-right:1em;
}

span.notaHTML{
	display:none;
}

p.verso_1{
	font-size:1em;
}
p.medio_1{
	padding-left:5%;
}
p.final_1{
	padding-left:20%;
}
.numVerso_1{
	width: 25%;
	font-size: 0.9em;
}
.stage_1{
	margin-right:300px;
}
p.prosa_1{
}
p.speaker_1{
	font-size: 0.9em;
}

p.verso_2{
	font-size:1em;
}
p.medio_2{
	padding-left:10%;
}
p.final_2{
	background-color:red;
	padding-left:30%;
}
.numVerso_2{
	width: 35%;
	font-size: 0.6em;	
}
.stage_2{
	
}
p.prosa_2{

}
p.speaker_2{
	font-size: 0.8em;
}

p.verso_3{
	font-size:0.9em;
}
p.medio_3{
	padding-left:10%;
}
p.final_3{
	background-color:red;
	padding-left:35%;
}
.numVerso_3{
	width: 35%;
	font-size: 0.6em;
}
.stage_3{
	font-size:0.9em;
}
p.prosa_3{
	font-size:0.9em;
}
p.speaker_3{
	font-size: 0.8em;
}


p.medio{
	text-indent: 25%;
}

div.verso{
	height:1.7em;
}

p.numVerso, p.verso {
	display: inline-table;
	margin:0;
	position:relative;
}

p.numVerso{
	padding-left:1em;
}

p.prosa{
	font-family: sans-serif;
	display: inline-table;
	margin-left:35%;
	position:relative;
	top: -1em;
	text-align:justify;
	margin-right: 1em;
	white-space:normal;
}

.numVerso{
	visibility: hidden;
}

.numVerso.visible{
	font-family: sans-serif;
	visibility: visible;
}

p.speaker{
	font-family: sans-serif;
	position:absolute;
	left:10%;
	margin:0;
	z-index: 10;
	padding-top:3px;
}

p.verso{
	font-family: sans-serif;
	width: 55%;
	white-space: nowrap;
}

p.versoSangrado{
	text-indent: 1.2em;
}
div.stage{
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	white-space: normal;
}

.diferenciaActiva{
	text-decoration:underline;
}
.diferencia.tooltip{
	display:none;
	cursor:pointer;
}

svg{
	border:1px solid pink;
}

.chart rect {
  fill: blue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.prueba{
	position:absolute;
	background-color: gray;
	width: 50px;
	height:20px;
	margin:auto;
	text-align:center;
	border: 1px solid black;
	z-index: 50;
}

.numIntervenciones, .numIntervenciones_1, .numIntervenciones_2{
	width: 50px;
	text-anchor:middle;
	color: black;
}

.numIntervenciones_1{
	font-size: 0.8em;
}
.numIntervenciones_2{
	font-size: 0.6em;
}

p.jornada{
	text-align:center;
	font-family: sans-serif;
}

div#datosVersiones{
	display:none;
}

#carrusel{
	position:relative;
}
.carrusel-prev {
    background: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 15px;
    left: 0;
    top: 45%;
    cursor: pointer;
}

.carrusel-prevIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}

.carrusel-next {
    background: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 15px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}

.carrusel-nextIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
}

.carrusel{
	display:none;
}

img.carrusel.actual {
    display: block;
    max-width: 100%;
    margin: auto;
}
span.carrusel_desc{
	display:none;
}
p#carrusel_desc{
	font-face: arial;
	font-size: 0.8em;
}
.botonesNRG{
	display: inline;
}
.botonesNRG a{
	display: inline-block;
	color: #FFF;
	background-color: #A9A9A9;
	font-size: 0.7em;
	font-weight: bold;
	box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	text-decoration: none;
	width: 3em;
	height: 1.8em;
	text-transform: uppercase;
	white-space: nowrap;
	padding-top: 0.3em;
	margin: 0.2em;
	vertical-align:middle;
	text-align:center;
}
.botonesNRG a i{
	font-size: 2em;
}
.resaltado{
	background-color: yellow;
}
.activo{
	cursor: pointer;
}
